# Files to include in the source distribution (sdist) beyond the defaults
# (pyproject.toml, README.md, and the LICENSE are included automatically).
include LICENSE CHANGELOG.md
recursive-include docs *.md
recursive-include docs/media *.png
recursive-include examples *.py *.md
recursive-include tests *.py
